.bm-menu {
  background-color: black;
  padding: 2.5em 1.5em 0;
  padding-left: 60px;
  margin-bottom: 100px;
  padding-top: 50px;
  font-size: 1.15em;
  width: 80vw;
  z-index: 20 !important;
}

.bm-menu-wrap {
  top: 0;
}

.bm-item {
  /* display: inline-block; */
  list-style: none;
}
.bm-item-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bm-item a {
  color: #b8b7ad;
  text-decoration: none;
}

.bm-item:hover a {
  color: white;
}

.bm-burger-button {
  position: relative;
  left: 20px;
  width: 46px;
  height: 40px;
}

.bm-burger-bars {
  background: #bdc3c7;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}
